*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body,html{
    height: 100%;
    width: 100%;
    background-color: #fff;
}
#main{
    height: 100%;
    width: 100%;
}
#nav{
    height: 11%;
    width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #F2F2F2;
}
#navr{
    height: 100%;
    width: 18%;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
#navr i{
    font-size: 35px;
}
#navr h3{
    font-size: 18px;
}
#navm{
    height: 100%;
    width: 70%;
    
    background-image: url(Assets/Chevrolet.png);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: center;
}
#navl{
    height: 100%;
    width: 15%;
  
    display: flex;
    align-items: center;
    justify-content: center;
}
#navl i{
    font-size: 30px;
}
#content{
    height: 91%;
    width: 100%;
    background-image: url(Assets/chevyhomepage-masthead-motortrendblazerev-01-v2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#upper{
    height: 30%;
    width: 100%;
    color: white;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#upper h3{
    font-size: 20px;
    font-weight: 900;
    font-weight: bolder;
}
#upper h1{
    font-size: 40px;
    font-weight: bolder;
}
#mid{
    height: 25%;
    width: 100%;
 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#mid i{
    background-color: rgb(0, 0, 0,0.4);
    color: white;
    font-size: 60px;
}
#lower{
    height: 25%;
    width: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;

}
#lower button{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 18px;
    font-weight: normal;
    height: 80px;
    width: 290px;
    margin-top: 5%;
    background: white;
    border: none;
}
#scroll{
    height: 5%;
    width: 100%;
    background-image: url(Assets/pngwing.com.png);
    background-size: 65px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-position: center;
}
#icons{
    height: 50%;
    width: 100%;
    display: flex;
   
}
#one{
    height: 100%;
    width: 25%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
#one h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: gray;
    margin-top: 10px;
}

#two{
    height: 100%;
    width: 25%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#two h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: gray;
    margin-top: 10px;
}
#three{
    height: 100%;
    width: 25%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
#three h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: gray;
    margin-top: 10px;
}
#four{
    height: 100%;
    width: 25%;
 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
#four h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: gray;
    margin-top: 10px;
}
#table{
    height: 90%;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
#tabr{
    border: 1px solid  black;
    height: 95%;
    width: 27%;
    display: flex;
    flex-direction: column;
    align-items: normal;
    padding: 10px;
}
#tabr button{
border: none;
    background: none;
    text-decoration: underline;
    width: 150px;
    margin-top: 30px;
    margin-left: 250px;
    color: blue;
}
#tabm{
    border: 1px solid  black;
    height: 95%;
    width: 27%;
    display: flex;
    flex-direction: column;
    align-items: normal;
    padding: 10px;
}
#tabm button{
border: none;
    background: none;
    text-decoration: underline;
    width: 150px;
    margin-top: 110px;
    margin-left: 250px;
    color: blue;
}
#tabl{
    border: 1px solid  black;
    height: 95%;
    width: 27%;
    display: flex;
    flex-direction: column;
    align-items: normal;
    padding: 10px;
}
#tabl button{
border: none;
    background: none;
    text-decoration: underline;
    width: 150px;
    margin-top:130px ;
    margin-left: 250px;
    color: blue;
}
#btn{
    height: 20%;
    width: 100%;
    
    display: flex;
    justify-content: center;
}
#btn button{
    background: none;
    border: 2px solid blue;
    text-transform: capitalize;
    font-size: 15px;
    height: 100px;
    width: 300px;
}
#pic{
    height: 150%;
    width: 100%;
  
    padding: 0px 15px;
}
#up{
    height: 7%;
    width: 100%;

    display: flex;
    font-size: 10px;
    align-items: center;
    
}
#up h2{
    margin-right: 13px;
}
#down{
    height: 59%;
    width: 100%;
    background-image: url(Assets/chevyhomepage-suvsegment-traverse-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
    
}
#down h4{
    margin-bottom: 1%;
    color: white;
    
}
#low{
    height: 34%;
    width: 100%;
    background: #556357;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#low h5{
    text-align: center;
    font-size: 15px;
    padding: 0px 390px;
    margin-bottom: 20px;
}
#low h1{
    font-size: 100px;
}
#wbox{
    height: 20%;
    width: 100%;
    background-color: white;
}
#box{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
}
#b1{
    height: 100%;
    width: 50%;
   background-image: url(Assets/chevyhomepage-evsforeveryone-01.jpg);
   background-size: cover;
   background-position: center;
   
}
#b2{
    height: 100%;
    width: 50%;
    background-color: #0077D9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
#b2 h5{
    font-size: 17px;
    padding: 0px 100px;
    text-align: center;
}
#b2 h1{
    font-family: ;
    font-size: 70px;
}
#b2 i{
    font-size: 80px;
    font-weight: 100;
    font-family: 'Courier New', Courier, monospace;
}
#b2 button{
    margin-top: 30px;
    height: 70px;
    background: none;
    color: white;
    border: 2px solid white;
    width: 250px;
}


